<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487059859688-m3mhopsu0al3s5nq0ltm14ojfd8qchr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487059859688-m3mhopsu0al3s5nq0ltm14ojfd8qchr5</string>
	<key>API_KEY</key>
	<string>AIzaSyCtpWHvDRvdEqfPsAKuXDynf7Dfuwvo2G0</string>
	<key>GCM_SENDER_ID</key>
	<string>487059859688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RndrApp</string>
	<key>PROJECT_ID</key>
	<string>rndr-77d10</string>
	<key>STORAGE_BUCKET</key>
	<string>rndr-77d10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:487059859688:ios:6a049b332bdaa716</string>
	<key>DATABASE_URL</key>
	<string>https://rndr-77d10.firebaseio.com</string>
</dict>
</plist>