<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RndrApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D09A4691DD7A93B0062D4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D09A47F1DD7A93C0062D4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D09A48A1DD7A93C0062D4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
